<!DOCTYPE html>
<html>
<head>
  <title>RailsHomeWork Application</title>
</head>

<body>
    <style>
    h1 {color: blue;text-align: center;}
    a {color: green;}
    </style> 
  <div>
    <h1>HomeWork</h1>
  </div>

  <div>
    <%= link_to "Week#1", week1_path %>
  </div>

  <div>
    <%= link_to "Week#2", week2_path %>
  </div>

  <div>
    <%= link_to "Week#3", week3_path %>
  </div>

  <div>
    <%= link_to "Week#4", students_path %>
  </div>

  <div>
    <%= link_to "Week#5", projects_path %>
  </div>
  <div>
    <%= link_to "Week#6", week6_path %>
  </div>
</body>
</html>