<!DOCTYPE html>
<html>
<head>
  <title>Week3HomeworkLayout</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <style>
    h1 {color: green;text-align: left;}
    a {color: red;}
    </style> 
    
<%= render 'shared/homework' %>
<%= yield %>
</body>
</html>