<!DOCTYPE html>
<html>
<head>
  <title>YetAnotherWeek3HomeworkLayout</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body bgcolor="#E6E6FA">
    <style>
    h1 {color: red;text-align: right;}
    a {color: blue;}
    </style> 

<%= render 'shared/homework' %>
<%= yield %>
</body>
</html>